<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table align="center" border="1">
    <thead>
    <tr>
        <td>  查询  </td>
        <td>   结果 </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>  查询性别为男的学生  </td>
        <td>   {{ nan }} </td>
    </tr>
    <tr>
        <td>  查询年龄大于20岁的学生  </td>
        <td>   {{ big }}< </td>
    </tr>
    <tr>
        <td> 获取所有学生、并按年龄排序   </td>
        <td>  {{ all }}  </td>
    </tr>
       <tr>
        <td> 获取最后创建的班级   </td>
        <td>  {{  lastgrade }}  </td>
    </tr>
       <tr>
        <td> 获取学生总数  </td>
        <td>  {{ alls }}  </td>
    </tr>
    </tbody>
</table>

</body>
</html>